.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(236, 243, 239);
    padding: 0px;
}

img {
    height: 300px;
    width: auto;
    border-radius: 500px;
    border-bottom-left-radius: 10px;
    border-color: black;
}

#name {
    font-size: 15px;
    letter-spacing: 3.5px;
    color: rgb(171, 124, 6);
    font-family: Verdana;;
    
}

.day {
    font-size: larger;
    font-weight: bolder;
}


#track {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(171, 124, 6);
    padding-bottom: 0px;
}

#hub {
    
    word-spacing:4px;
    font-size: larger;
}

span {
    color: rgba(50, 50, 47, 0.567);
    font-size: 17px;
    font-family: fantasy;
}
